/*
Theme Name: Virtue-child
Version: 1.0
Description: A child theme of Virtue
Template: virtue
*/

@import url("../virtue/style.css");

#logo
{
	padding-bottom: 38px !important;
}

#homeheader
{
	height: 0px;
}

#nav-second ul.sf-menu>li 
{
    width: auto;
    margin-right: 18px !important;
}

#nav-second ul.sf-menu
{
	border-bottom: 0.05px solid #d9d6d4;
    border-top: 0.05px solid #d9d6d4;
}

#nav-second ul.sf-menu
{
	margin-top: 10px; 
  margin-bottom: 10px; 
}

#menu-menu-1
{
		border-top: 1px solid #ddd;
    	border-bottom: 1px solid #ddd;
		padding: 10px 0 !important;
}

#nav-second ul.sf-menu a
{
	color:#9f9693;
	font-weight: 600 !important;
}

#topbar
{
	background-color:#fff;
}

.topbarmenu ul li a
{
	color: #9f9693;
}


.icon-search	/* find icon in search topbar */
{
	color: #9c27b0;
}

#topbar-search input[type=text].search-query
{
	
}

#topbar-search
{
	background-color:rgba(193, 191, 191, 0.2);	
}

#topbar-search input[type=text] /*After typing, text in place holder for search at top bar*/
{
	color:#9f9693 !important;
	
}

input::placeholder /* place  holder for search at top bar*/
{
	color:#9f9693 !important;
	border: 1px solid #eee;
}

.cart-contents
{
    color: #76be78;
    font-weight: bold;
}


.product_item a.product_item_link img
{
	width:100%	/* Image width*/
}

#menu-footer-menu 
{
	display: inline-flex;
}